<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirm application</title>
</head>
<body>
    <p>There is an update on your application for <%= landmark %> property.</p><br>
    <p>The application has been sent to the property manager. Click<a href="<%= url %>" > here </a>to view.</p>
</body>
</html>