<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome aboard</title>
</head>
<body>
    <p>thanks for creating an account with COG.</p><br>
    <p>we hope to help you streamline your property sales and rental. Click<a href="<%= url %>"> here </a>to activate account</p>
</body>
</html>